{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %} 

      {% if s.author %}<span class="post-author"><span class="post-label">Autor</span><br> <a href="{{ s.author-url }}">{{ s.author }}</a></span>{% endif %}
      {% if s.editor %}<span class="post-editor"><span class="post-label">Editor</span><br> <a href="{{ s.editor-url }}">{{ s.editor }}</a></span>{% endif %}
      {% if s.translator %}<span class="post-translator"><span class="post-label">Tradução</span> <br> <a href="{{ s.translator-url }}">{{ s.translator }}</a></span>{% endif %}
      {% if s.pub-date %} <span class="pub-date"><span class="post-label">Publicado em</span><br> {{ s.pub-date }}</span>{% endif %}
      {% if s.last-update-date %}<span class="last-update-date"><span class="post-label">Última atualização</span><br> {{ s.last-update-date }}</span>{% endif %}
      {% if s.doi %}<span class="doi">DOI <a href="{{ s.doi-url }}">{{ s.doi }}</a></span>{% endif %}

    {% endfor %}

    <div class="sidebar_meta">
      {% include page__taxonomy.html %}
    </div>

    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
